<ons-modal direction="up" class="event-image-modal" id="eventImageModal">
    <div class="modal-container">
        <ons-list>
            <ons-list-item tappable ng-click="takePictureFromGallery()">
                <div>Upload from Gallery</div>
            </ons-list-item>
            <ons-list-item tappable ng-click="removeEventImage()">
                <div>Remove Image</div>
            </ons-list-item>
            <ons-list-item tappable ng-click="closeEventImageModal()">
                <div>Cancel</div>
            </ons-list-item>
        </ons-list>
    </div>
</ons-modal>