<ons-modal direction="up" class="cover-image-modal" id="coverImageModal">
    <div class="modal-container">
        <ons-list>
            <ons-list-item tappable ng-click="takeCoverPhotoFromGallery()">
                <div>Upload Cover Image from Gallery</div>
            </ons-list-item>
            <ons-list-item tappable ng-click="removeCoverImage()">
                <div>Remove Cover Image</div>
            </ons-list-item>
            <ons-list-item tappable ng-click="closeCoverImageModal()">
                <div class="center">Cancel</div>
            </ons-list-item>
        </ons-list>
    </div>
</ons-modal>