<ons-modal direction="up" class="logo-image-modal" id="logoImageModal">
    <div class="modal-container">
        <ons-list>
            <ons-list-item tappable ng-click="takeLogoPhotoFromGallery()">
                <div>Upload Logo from Gallery</div>
            </ons-list-item>
            <ons-list-item tappable ng-click="removeLogoImage()">
                <div>Remove Logo</div>
            </ons-list-item>
            <ons-list-item tappable ng-click="closeLogoImageModal()">
                <div>Cancel</div>
            </ons-list-item>
        </ons-list>
    </div>
</ons-modal>