#contactusScreen {
    .contact_bg {
        width: 100% !important;
        height: 50vh !important;
    }

    .topbar { 
        margin-top: -23rem !important;
        color: whitesmoke !important;
    }
    .card_contact {
        padding: 0rem;
        margin-top: 15rem;
        margin-left: 10px;
        margin-right: 10px;
        padding: 1rem;
        position: relative;
    }
    .form-title { 
        text-align: center;
        font-weight: bolder;
        font-size: 2vh;
    }
    .card-form {
        padding: 1rem !important;
    }
}
#aboutusScreen {
    .about_bg {
        width: 100% !important;
        height: 38vh !important;
    }

    .topbar {
        margin-bottom: 12vh ;
        color: whitesmoke !important;
    }
    .features {
        display: flex !important;
        justify-content: center;
    } 
    .features-card {
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-top: 4vh;

    }
    @media only screen and (min-width: 600px) {
        .topbar {
            margin-bottom: 0vh;
            color: whitesmoke !important;
        }
    }
}
