<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091280789393-0oasbigg2kehffat87oslbb4c3godui6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091280789393-0oasbigg2kehffat87oslbb4c3godui6</string>
	<key>API_KEY</key>
	<string>AIzaSyA4M72SWB8XC4EpTq-iy_B-1TkVerJSiyU</string>
	<key>GCM_SENDER_ID</key>
	<string>1091280789393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.businesscards.www</string>
	<key>PROJECT_ID</key>
	<string>switch-app-a0ff9</string>
	<key>STORAGE_BUCKET</key>
	<string>switch-app-a0ff9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091280789393:ios:58cb5ce991c67c33</string>
	<key>DATABASE_URL</key>
	<string>https://switch-app-a0ff9.firebaseio.com</string>
</dict>
</plist>