<div ng-controller="VisitingCardController" id="aboutusScreen">
    <ons-page modifier="full_bg">
        <div>
            <img src="img/content.jpg" class="about_bg">
            <div
                class=" topbar d-flex bd-highlight navbar-alignment padding-left-15 padding-right-15 padding-top-20 padding-bottom-10">
                <div class="p-2 w-100 bd-highlight leftarrow ">
                    <i class="fas fa-arrow-left" ng-click="backButton()"></i>
                </div>
            </div>
            <div class="center-align margin-left-10 margin-right-10 text-white" style="font-size: 2.5vh;">
                Switch is a Platform which allows Users to share their Business Cards with other Users and also save
                other
                Business
                cards in their Card Holder.
            </div>
            <div class="card features-card">
                <ons-row>
                    <ons-col width="100%" class="center-align font-bold text-lg">
                        Features
                    </ons-col>
                    <ons-col width="50%" class="features">
                        <img src="img/connecting_people.png" class="features-icon">
                    </ons-col>
                    <ons-col width="50%" class="features">
                        <img src="img/card_holder.png" class="features-icon">
                    </ons-col>
                    <ons-col width="50%" class="center-align font-bold text-header">
                        Connecting People
                    </ons-col>
                    <ons-col width="50%" class="center-align font-bold text-header">
                        Event Cards DropBox
                    </ons-col>
                    <ons-col width="50%" class="margin-top-20 features">
                        <img src="img/dropbox.png" class="features-icon" style="height: 8rem;">
                    </ons-col>
                    <ons-col width="50%" class="margin-top-20 features">
                        <img src="img/paperless.png" class="features-icon" style="height: 8rem;">
                    </ons-col>
                    <ons-col width="50%" class="center-align font-bold text-header">
                        Card Holders
                    </ons-col>
                    <ons-col width="50%" class="center-align font-bold text-header">
                        e-Visiting Cards
                    </ons-col>
                </ons-row>
            </div>
        </div>
    </ons-page>
</div>