<ons-modal direction="up" class="profile-image-modal" id="profileImageModal">
    <div class="modal-container">
        <ons-list>
            <ons-list-item tappable ng-click="takeProfilePictureFromGallery()">
                <div>Upload from Gallery</div>
            </ons-list-item>
            <ons-list-item tappable ng-click="removeProfileImage()">
                <div>Remove Profile Image</div>
            </ons-list-item>
            <ons-list-item tappable ng-click="closeProfileImageModal()">
                <div>Cancel</div>
            </ons-list-item>
        </ons-list>
    </div>
</ons-modal>