<div ng-controller="SliderController" id="SliderScreen">
    <ons-page modifier="slider_third full_slider1">
        <div class="container-fluid">
            <div class="row">
                <div class="slider1">
                    <img src="img/slider-3.png" class="d-block ml-auto mr-auto" width="50%">
                </div>
                <div class="col col-12">
                    <div class="text-center text-white font-weight-bold text-xl pt-4">Connect with People coming to a Event through getting their Business Cards in just one click.</div>
                </div>
                <div class="col col-12" style="position: fixed; left:0; bottom: 0; width:100%;background: #0ab9e0;padding: 10px;">
                    <div class="d-flex bd-highlight">
                        <div class="flex-grow-1 w-100 bd-highlight">
                            <button class="btn btn-link text-white text-md" ng-click="previousToSecondSlide()">Previous</button>
                        </div>
                        <div class="bd-highlight">
                            <button class="btn btn-link text-white text-md" ng-click="finishIntro()">Finish</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ons-page>
</div>