<div ng-controller="AuthenticateController" id="LoginScreen">
    <ons-page modifier="full_login">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-12">
                    <div class="logo-container">
                        <div class="logo"></div>
                    </div>
                </div>
                <div class="col col-12 margin-top-30">
                    <form class="text-center text-white" name="userForm" novalidate>
                        <h4 class="text-center strong imp-margin-10">Forgot Password Form</h4>
                        <h6 class="text-lg">Please enter your registered email address to receive the verification OTP of forgot password and then enter the otp sent in the mail to reset the password.
                        </h6>
                        <div class="form-group" style="margin-bottom:0rem !important">
                            <div class="form-group margin-top-20" style="margin-bottom:0rem !important">
                                <input type="email" id="email" name="email" class="form-control " placeholder="Enter your E-mail" ng-model="data.email" ng-class="{'has-error':userForm.email.$invalid && !userForm.email.$pristine}" required>
                            </div>
                        </div>
                        <div class="form-group" style="margin-bottom:0rem !important">
                            <button class="btn btn-block login-button" type="submit" ng-click="sendEmail(data)" ng-disabled="userForm.$invalid">
                                Forgot Password
                            </button>
                        </div>
                        <div class="text-md white-text strong">{{loginError}}</div>
                        <div class="padding-top-10 strong text-lg">
                            <a href="#!" class="amber-text">Already Have An Account! LogIn</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </ons-page>
</div>