<div ng-controller="AuthenticateController" id="LoginScreen">
    <ons-page modifier="full_login">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-12">
                    <div class="logo-container">
                        <div class="logo"></div>
                    </div>
                </div>
                <div class="col col-12 margin-top-30">
                    <form class="text-center text-white" name="userForm" novalidate>
                        <h3 class="text-center strong imp-margin-0">Set New Password</h3>
                        <div class="form-group" style="margin-bottom:0rem !important">
                            <input type="password" class="form-control" id="password" placeholder="Enter your Password" ng-model="data.password" ng-class="{'has-error':userForm.password.$invalid && !userForm.password.$pristine}" ng-minlength="8" ng-maxlength="100" ng-required="true">
                        </div>
                        <div class="form-group" style="margin-bottom:0rem !important">
                            <input type="password" class="form-control" id="cpassword" placeholder="Retype Your Password" ng-model="data.cpassword" ng-class="{'has-error':userForm.cpassword.$invalid && !userForm.cpassword.$pristine}" valid-password-c="userForm.password" ng-required="true">
                        </div>
                        <div class="form-group" style="margin-bottom:0rem !important">
                            <button class="btn login-button btn-block" type="submit" ng-click="setPassword(data)" ng-disabled="userForm.$invalid || data.password!==data.cpassword">
                                    Change Password
                                </button>
                        </div>
                        <span ng-show="data.password !== data.cpassword" class="text-md" style="color:red">
                                Password Mismatch
                            </span>
                        <div class="padding-top-10 strong text-lg">
                            <a href="#" class="amber-text">Already Have An Account! LogIn</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </ons-page>
</div>